html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: white;
  color: black;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

.tile-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tile-container::-webkit-scrollbar {
  display: none;
}

.tile {
  background-color: white;
  color: black;
}

.tile > img {
  height: 30vw;
  width: 30vw;
}

img[alt="avatar"] {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

nav > img {
  border-radius: 100%;
}

nav > form > button {
  border: none;
  background: none;
}

button > img {
  border-radius: 100%;
}

.fa-pen {
  color: blue;
}

.profile-container {
  margin-right: auto;
  margin-left: 1rem;
}

.posts-plants {
  width: 100%;
}

li > a {
  margin-top: 1rem;
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(#a0b3b0, 0.25);
  color: black;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

li > a:hover {
  background-color: #146e56;
  color: white;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.active {
  background: #1ab188;
  color: white;
}
