@font-face {
  font-family: "Nesans";
  src: url(../assets/fonts/Nesans.ttf);
}

html {
  /* box-sizing: border-box; */
  --black: #02020a;
  --taupe: #7d6167;
  --rose: #fbf9ff;
  --dark-green: #0c3823;
  --light-green: #30694b;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  /* background-color: black; */
  background-color: var(--rose);
  color: black;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
  font-weight: bold;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  background-color: var(--dark-green);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
}

textarea {
  resize: none;
}

button {
  border: none;
  background-color: var(--rose);
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.pc-header,
.pc-body {
  padding-left: 1rem;
}

.pc-footer {
  align-self: center;
  font-size: 1.5rem;
}

h4 {
  width: 90vw;
}

.nav-item {
  /* margin: 0 auto; */
  text-decoration: none;
  color: white;
}

.nav-item > .fa-plus {
  color: white;
  font-size: 2rem;
  margin-left: 0.5rem;
}

.fa-calendar-check {
  color: white;
  font-size: 1.5rem;
  margin-left: 0.75rem;
}

.fa-leaf {
  font-size: 1.5rem;
  margin-left: 0.75rem;
}

.nav-item > button {
  background-color: var(--dark-green);
  color: white;
  font-size: 2rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.profile-link {
  margin-left: 1rem;
  margin-right: -0.5rem;
}

#logo {
  font-family: "Nesans";
  font-size: 3rem;
  margin-right: auto;
  margin-left: 0;
}

main {
  height: calc(100% - 60px);
  width: 100%;
}

.profile-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-container > div {
  margin-top: auto;
  margin-bottom: auto;
}

.pc-header > img {
  height: 75px;
  width: 75px;
  border-radius: 100%;
}

.tile-container {
  height: calc(100% - 300px - 86px);
  max-height: calc(100% - 300px - 86px);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 0.5rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tile-container::-webkit-scrollbar {
  display: none;
}

.tile {
  margin: calc(10vw / 12);
  background-color: white;
  color: black;
  height: 30vw;
  width: 30vw;
}

.tile > img {
  height: 30vw;
  width: 30vw;
  object-fit: cover;
}

button > .fa-plus {
  color: var(--light-green);
}

.fa-check {
  color: var(--light-green);
  transition: 0.5s;
}

.fa-check:hover {
  color: var(--dark-green);
  transform: scale(125%);
  transition: 0.5s;
}

img[alt="avatar"] {
  width: 50px;
  height: 50px;
  border: 2px solid var(--rose);
  border-radius: 100%;
}

img[alt="placeholder"] {
  width: 72vw;
  height: auto;
}

nav > img {
  border-radius: 100%;
}

nav > form > button {
  border: none;
  background: none;
}

button > img {
  border-radius: 100%;
}

.fa-pen {
  color: var(--light-green);
  transition: 0.5s;
}

.fa-pen:hover {
  color: var(--dark-green);
  cursor: pointer;
  transform: scale(125%);
  transition: 0.5s;
}

.profile-container {
  margin-right: auto;
}

.posts-plants {
  width: 100%;
}

li > a {
  display: block;
  text-decoration: none;
  padding: 0.5rem 0 0.5rem 0;
  /* border-radius: 2rem; */
  background: rgba(#a0b3b0, 0.25);
  color: black;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

li > a:hover {
  background-color: var(--dark-green);
  color: white;
}

.tab-group {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.active {
  background: var(--light-green);
  color: white;
}

.post-image {
  width: 75vw;
  height: auto;
}

.feed-container {
  margin: 0 auto 0 auto;
  overflow-y: scroll;
  overflow-x: visible;
  height: 100%;
  width: 80%;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.feed-container::-webkit-scrollbar {
  display: none;
}

/* Post-Container */

.post-container {
  margin-top: 2rem;
  padding: 1rem 0;
  /* border: 1px solid black; */
  border-radius: 5%;
  background: white;
  box-shadow: 0 5px 5px var(--light-green);
}

.post-header {
  margin-left: 1rem;
}

.post-body {
  text-align: center;
}

.post-footer {
  margin-left: 1rem;
}

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.comment {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 228, 228);
  border-radius: 5%;
}

.comment-body {
  display: flex;
  flex-direction: row;
}

.login-header > h1 {
  font-family: "Nesans";
  font-size: 4rem;
}

img[alt="preview"] {
  width: auto;
  height: 90vmin;
}

.login {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
}

.login-header,
.login-footer {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide img {
  display: block;
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sign-up > h1,
.sign-up > form > input,
.sign-up > form > select,
.sign-up > form > textarea {
  margin: 1rem auto;
}
